body {
    margin: 0;
    background-color: black;
    font-size: 4vw;
    width: 100%;
    margin-top: 20vh;
    text-align: center;
    color: white;
}


button.navi {
    font-family: 'Microsoft YaHei', 'Helvetica';
    font-size: 2vh;
    opacity: 0.5;
    border-radius: 2px;
    color: white;
    border-style: dashed;
    border-width: 1px;
    border-color: grey;
    text-decoration: none;
    text-align: center;
    text-decoration: none;
    position: fixed;
    height: 7vh;
    width: 7vh;
    bottom: 3vh;
    right: 3vh;
    background-color: black;
    transition-duration: 0.4s;
    cursor: pointer;
}

button.navi:hover {
    opacity: 0.8;
    background-color: #555555;
    color: white;
}


button.navi:active {
    outline: none;
    opacity: 1;
    background-color: white;
    border-color: white;
    color: black;
}