body {
    margin: auto;
    text-align: center;
}

canvas {
    display: block;
}

#c {
  width: 100vw;
  height: 100vh;
  display: block;
}

button {
    width: auto;
    height:20%;
    background-color: white;
    color: black;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-top: 200px;
    transition-duration: 0.4s;
    cursor: pointer;
    border: 2px solid #555555;
}

button:hover {
    background-color: #555555;
    color: white;
}